.a { color: rgba(0, 0, 0, 0.5); }
.b { color: rgba(0, 0, 0, 0.75); }
.c { background: rgba(0, 0, 0, 0.5); }
.d { color: #0000007f; }
.e { color: rgba(230, 60, 20, 0.5); }
.f { color: rgba(255, 255, 255, 0.6); }
